<!doctype html>
<html lang="en">
  <head>
    <title>
        <%= title%></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <style>
        body {
            background: linear-gradient(45deg, #49a09d, #5f2c82);
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script>
         $(document).ready(function() {
        //     setInterval(checked, 5000);

            function checked() {
                $.ajax('/employeeOnline', {
                    dataType: 'script', 
                    timeout: 10000, 
                    success: function(data, status, xhr) {
                            let dt = JSON.parse(data);
                            let lengthDt = dt.length;
                            console.log(lengthDt);
                            let count = 0;
                            dt.map(item=>{
                                count++;
                                console.log(count);
                            })
                        }
                    ,
                    error: function(jqXhr, textStatus, errorMessage) {
                        console.log(errorMessage); 
                    }
            });        
            }
            checked()
        });
      </script>
  </head>
  <body>
    
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <div class="form">
                        <form action="/see" method="post" style="  margin-bottom: 10px ; margin-top: 20px">
                            <div class="input-group">
                                <input class="form-control" name="ura" type="text" placeholder="url..." aria-label="Recipient's " aria-describedby="my-addon" value="">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary pading">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table>
                        <thead>
                            <tr class="table100-head">
                                <th class="column1">Date</th>
                                <th class="column2">Order ID</th>
                                <th class="column3">Name</th>
                                <th class="column4">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="column1">2017-09-29 01:22</td>
                                <td class="column2">200398</td>
                                <td class="column3">iPhone X 64Gb Grey</td>
                                <td class="column4">$999.00</td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>
  </body>
</html>